@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--transparent-white-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.description {
  color: #ffffff;
  font-family: "Lexend Deca";
  font-size: 18px;
}

.title {
  font-size: 38px;
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.column {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.column-one {
  background-color: #e28625;
  border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
}

.column-two {
  background-color: #006971;
}

.column-three {
  background-color: #004140;
  border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
}

.btn {
  margin-top: 110px;
  padding: 15px 30px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: transparent;
  color: white;
  outline: 2px solid var(--transparent-white-color);
}

.sedans-learn-btn {
  color: #e28625;
}

.suvs-learn-btn {
  color: #006971;
}

.luxury-learn-btn {
  color: #004140;
}
