* {
  margin: 0;
  padding: 0;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

.container {
  width: 70%;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--transparent-white-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  color: #ffffff;
}

.title {
  font-size: 40px;
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.column {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.column-one {
  background-color: #e28625;
}

.column-two {
  background-color: #006971;
}

.column-three {
  background-color: #004140;
}

.learn-btn {
  margin-top: 110px;
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
}

.sedans-learn-btn {
  color: #e28625;
}

.suvs-learn-btn {
  color: #006971;
}

.luxury-learn-btn {
  color: #004140;
}
